<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/style.css">
<title>All</title>
</head>
<body>
	<div th:replace="fragments/table :: table (caption='Legjobb 10', source=${best})"></div>
	<div th:replace="fragments/table :: table (caption='Legrosszabb 10', source=${worst})"></div>
	<div th:replace="fragments/table :: table (caption='Leggyakrabb 10', source=${frequent})"></div>
	<div th:replace="fragments/table :: table (caption='Legritkább 10', source=${rare})"></div>
</body>
</html>
